/* Main container */
.hed1 {
  background-color: #5dc3be;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 95%;
  height: 45px;
  border-radius: 13px;
}

/* Left section */
.item-left {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0;
}

.item-left .title-site {
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
}

.item-left .title-site li {
  margin-right: 10px;
}

.item-left .title-site li a {
  background-color: rgb(225, 59, 18);
  padding: 6px;
  border-radius: 4px;
}

/* Right section */
.item-right {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  width: 100%;
}

.item-right.active {
  max-height: 200px; /* Adjust as needed */
  opacity: 1;
}

.item-right .item-mode-lang-soc {
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: end;
}

.item-right .item-mode-lang-soc li {
  margin-right: 10px;
  font-size: 20px;
}

.item-right .item-mode-lang-soc li:last-child {
  margin-right: 0;
}

/* Language selection */
.item-right .item-mode-lang-soc select {
  padding: 5px;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.item-right .item-mode-lang-soc select:focus {
  outline: none;
}

/* Social media icons */
.item-right .item-mode-lang-soc .social-media {
  list-style: none;
  display: flex;
  align-items: center;
}

.item-right .item-mode-lang-soc .social-media li {
  margin-right: 10px;
}

.item-right .item-mode-lang-soc .social-media li:last-child {
  margin-right: 0;
}

.item-right .item-mode-lang-soc .social-media a {
  color: white;
  text-decoration: none;
}

.item-right .item-mode-lang-soc .social-media a:hover {
  color: #f0f0f0;
}

.show-item {
  display: none;
}

/* Adjusting for small screens */
@media screen and (max-width: 850px) {
  .show-item {
    display: block;
    color: white;
  }

  .hed1 {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0 30px;
    width: 95%;
    height: 100%;
    border-radius: 13px;
  }

  .item-right {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
  }

  .item-right.active {
    max-height: 300px; /* Adjust as needed */
    opacity: 1;
  }
}

/* Ensure .item-right is visible on larger screens when active */
@media screen and (min-width: 851px) {
  .item-right {
    max-height: none;
    opacity: 1;
    transition: none;
  }
}
